<div class="container" style="margin-top: 15px;">
    <center>
        <h1 class="display-4">Signup Here</h1>
    </center>
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Username</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" formControlName="username">
        </div>
          
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="text" class="form-control" placeholder="Your email" formControlName="email">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Region</span>
            </div>
            <input type="text" class="form-control" placeholder="Your region" formControlName="region">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" class="form-control" placeholder="your password" formControlName="password">
        </div>
        <button class="btn btn-sm bg-dark text-light" type="submit">Submit</button>
    </form>
</div>