<app-navbar></app-navbar>

<div class="container mt-3">
    <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Create Lab</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 3.7rem; margin-top: 5px;">
                <div class="card-body">
                    <i class="fa fa-plus-square-o" 
                    aria-hidden="true" 
                    style="font-size: 20px;"
                    data-toggle="modal" data-target="#lab"
                    ></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Your Labs</h3>
    <div class="row">
        <ng-container *ngIf="rooms.length>0; then labBlock; else noLabBlock"></ng-container>
        <ng-template #labBlock>
            <ng-container *ngFor="let room of rooms">
                <div class="col-md-2 mt-1">
                    <div class="card">
                        <div class="card-header">
                            <p style="text-align: center; font-weight: bold; font-size: 20px;" (click)="goToRoom(room.id)">{{ room.name }}</p>
                        </div>
                        <div class="card-body">
                            <ng-container *ngFor="let tag of room.tags">
                                <span style="margin-right: 5px; background-color:crimson; color: cornsilk; border-radius: 2px; padding: 2px;">#{{ tag }}</span>
                            </ng-container>
                            <!-- <span style="margin-right: 5px; background-color: darksalmon; color: cornsilk; border-radius: 2px; padding: 2px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">#DL</span>
                            <span style="margin-right: 5px; background-color: darksalmon; color: cornsilk; border-radius: 2px; padding: 2px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">#Python</span>
                            <span style="margin-right: 4px; background-color: darksalmon; color: cornsilk; border-radius: 2px; padding: 2px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">#Javascript</span> -->
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #noLabBlock>
            <p>You have not joined any lab. Create one</p>
        </ng-template>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="lab">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 5px;">
            <h5 style="text-align: center;">Create Lab</h5>
            <div class="modal-body">
                <form id="login-form" [formGroup]="roomForm" (ngSubmit)="create()">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background-color: red; color:white; border-color:red;">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <input required formControlName="roomName" type="text" placeholder="Enter lab name" class="form-control border-left-0" style="border-color: red;">
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show d-none" role="alert" id="login-email-alert-div">
                        <span id="login-email-alert"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="background-color: green; color:white; border-color:green;">
                                        <i class="fa fa-key"></i>
                                    </span>
                                </div>
                                <input required formControlName="roomTags" type="text" placeholder="Enter Lab tags separate with comman" class="form-control border-left-0" style="border-color: green;" id="login-password">
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show d-none" role="alert" id="login-password-alert-div">
                        <span id="login-password-alert"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Create</button>
                </form>
            </div>
      </div>
    </div>
  </div>